html, body {
  margin: 0;
  padding: 0;
}

form {
  background-color: whitesmoke;
  border: 1px solid #333;
  padding: 30px;
  margin: 20px;
  width: 50vw;
  position: absolute;
  text-align: center;
  top: 10%;
  left: 20%;
}

.submitbtn {
  padding: 0.5rem 0.75rem;
  background-color: rgb(101, 206, 101);
  border: none;
  border-radius: 5px;
}

.submitbtn:hover {
  padding: 0.7rem 0.95rem;
  cursor: pointer;
  border: 1px solid green;
}

.clearbtn {
  color: white;
  padding: 0.5rem 0.75rem;
  background-color: rgb(202, 39, 39);
  border: none;
  border-radius: 5px;
}

.clearbtn:hover {
  padding: 0.7rem 0.95rem;
  cursor: pointer;
  border: 1px solid red;
}